Source: adpi-utils
Section: misc
Priority: optional
Maintainer: Yuta Kiyonaga <kiyonaga@mechatrax.com>
Build-Depends: debhelper-compat (= 12), bash-completion
Standards-Version: 4.5.1
Homepage: https://mechatrax.com/
Vcs-Git: https://github.com/mechatrax/adpi-utils.git
Vcs-browser: https://github.com/mechatrax/adpi-utils

Package: adpi-utils
Architecture: all
Depends: ${misc:Depends}, adpi-utils-backend-spidev | adpi-utils-backend
Description: Utilities for ADPi
 This package contains command utilities to control ADPi.
